<!DOCTYPE html>
<html>
<head>
  <title> Checker - Report </title>
  <meta http-equiv="refresh" content="5">
  <style type="text/css">
    .circle {
            border-radius: 50%;
            width: 15px;
            height: 15px;
            /* width and height can be anything, as long as they're equal */
    }

    .active {
      background: green;
    }

    .dead {
      background: red;
    }
  </style>
</head>

<body>
<h1> Report </h1>

<table>
	<thead>
		<tr>
			<td> Name </td>
			<td> Port </td>
			<td> Status </td>
			<td> Requests </td>
		</tr>
	</thead>

	<tbody>
		{% for node in nodes %}
		<tr>
			<td> {{ node.host }} </td>
			<td> {{ node.port }} </td>
			<td>
			  {% if node.active %}
				<div class="circle active"></div>
			  {% else %}
				<div class="circle dead"></div>
			  {% endif %}
			</td>
			<td>
				{{ node.request_count }}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</body>
</html>
